/** main.css */

/*
 * Set colors and size.
 */
body {
    background-color: #333;
}

.main {
    background-color: #fff;
    margin: 0 auto;
    max-width: 64rem;
    color: #333;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
